<div>
  <h1>Carrito de Compras</h1>
  {{#each cart}}
    <div>
      <p><strong>Producto</strong>: {{this.product.title}}</p>
      <p><strong>Descripción</strong>: {{this.product.description}}</p>
      <p><strong>Precio</strong>: {{this.product.price}}</p>
      <p><strong>Cantidad</strong>: {{this.quantity}}</p>
      <hr/>
    </div>
  {{/each}}
</div>
<div>
  {{!-- Otras secciones del carrito --}}
  <h2>Total de la compra: ${{totalAmount}}</h2>
  <a href="/views/checkout" role="button" id="checkoutBtn">Finalizar Compra</a>
</div>
<script src="/js/addToCart.js"></script>